<h1>Lista de Productos</h1>
{{#each products}}
<div class="product">
  <p>Product ID: {{_id}}</p>
  <p>Product Title: {{title}}</p>
  <p>Product Description: {{description}}</p>
  <p>Product Code: {{code}}</p>
  <p>Product Price: {{price}}</p>
  <!-- Botón para ver detalles del producto -->
  <br>
  <!-- Formulario para agregar al carrito -->
  <form id="addToCartForm{{_id}}">
    <input type="text" id="cartIdInput{{_id}}" name="cartId" placeholder="Enter Cart ID">
    <input type="number" id="quantityInput{{_id}}" name="quantity" value="1" min="1" max="10">
    <input type="hidden" name="productId" value="{{_id}}">
    <button type="button" onclick="addToCart('{{_id}}')">Agregar al Carrito</button>
  </form>
</div>
{{/each}}
<script>
  function addToCart(productId) {
    // Get the cartId value from the input field
    const cartId = document.getElementById('cartIdInput' + productId).value;
    // Get the quantity value from the input field
    const quantity = document.getElementById('quantityInput' + productId).value;
    // Construct the URL for the POST request
    const url = `/api/carts/${cartId}/product/${productId}`;
    // Create the request body
    const body = JSON.stringify({ quantity });
    // Submit the form
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: body
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Error adding product to cart');
        }
        // Handle success response if needed
        // For example, show a success message
        alert('Product added to cart successfully');
      })
      .catch(error => {
        console.error('Error adding product to cart:', error.message);
        // Handle error if needed
        // For example, show an error message to the user
        alert('Error adding product to cart. Please try again later.');
      });
  }
</script>
